/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 1000px) {
    .container {
        max-width: 1000px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* REASONER */

.sparql {
    font-family: courier;
}

.worker-checkbox {
    width: 15px;
    height: 15px;
    vertical-align: top;
}

.worker-log {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.worker-log .time {
    font-weight: normal;
    color: #000000;
    border-radius: 5px;
}

.worker-log .msg {
    color: #245269;
}

.worker-log .error {
    color: #c9302c;
}

.busy-status {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { background-color: #67b168; }
    50% { background-color: #c9302c; }
    100% { background-color: #67b168; }
}

@-webkit-keyframes blinker {
    0% {
        color: #e38d13;
        background-color: #e0e0e0;
    }
    50% {
        color: #c9302c;
        background-color: #ffffff;
    }
    100% {
        color: #e38d13;
        background-color: #e0e0e0;
    }
}

@keyframes blinker {
    0% { background-color: #67b168; }
    50% { background-color: #c9302c; }
    100% { background-color: #67b168; }
}

.thlabel {
    border-top: solid 1px #DDDDDD;
    border-bottom: solid 2px #BBBBBB;
    margin-bottom:10px;
    margin-top:10px;
    text-align: center;
    font-weight: bold;
}

.thlabel-sm {
    border-bottom: solid 1px #BBBBBB;
    margin-bottom:5px;
    margin-top:5px;
    text-align: center;
    font-weight: bold;
}

.scrollable {
    border: 0px;
    background-color: #f7f7f7;
    overflow: auto;
    height: 150px;
}

.scrollable-results {
    overflow: scroll;
    font-family: courier;
    font-weight: bold;
    padding: 5px;
    margin: 5px;

}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
    -webkit-overflow-scrolling: touch;
}

.sparqlresult {
    border-bottom: 1px solid #245269;
    margin: 3px;
    padding: 3px;
}

.sparqlvar {
    color: #000000;
}

.sparqlval {
    font-weight: normal;
    color: #262626;
}

.list-group-small {
    font-size: 10px;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
}

.list-group-small-forms .list-group-item {
    font-size: 12px;
    box-shadow: 2px 2px 2px #aaa;
}

.available {
    text-align: center;
    color: #4cae4c;
}

.unavailable {
    text-align: center;
    color: #843534;
}

input[type="checkbox"] {
    text-align: center;
}

th {
    text-align: center;
}

.three-column td {
    width: 33%
}

.thlabel > .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
   vertical-align: middle;
}

.btn-sm {
    margin: 0px 5px;
    height: auto;
    padding: 3px;
}

.btn-tiny {
    margin: 0px 5px;
    height: auto;
    padding: 3px;
    font-size:10px;
    font-weight: bold;
}

.btn-success {
    font-weight: bold;
    border: 2px solid #c1e2b3;
}

.shadowed {
    -moz-box-shadow: 10px 10px 25px 1px #656565;
    -webkit-box-shadow: 10px 10px 25px 1px #656565;
    -o-box-shadow: 10px 10px 25px 1px #656565;
    box-shadow: 10px 10px 25px 1px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=25);
}