<div class="container">

    <div clas="row">
        <div class="col-sm-4">
            <div class="thlabel">
                OWL File
            </div>
            <ul class="list-group list-group-small-forms">
                <li class="list-group-item">
                    <div class="btn btn-sm btn-default" upload-button url="{{ uploadUrl }}" on-success="successUpload(response)"></div>
                </li>
                <li class="list-group-item">
                    <table>
                        <tr>
                            <td>
                                <select ng-model="owlFileName" ng-options="filename for filename in ontologyList"/>
                            </td>
                            <td>
                                <a href="#" ng-click="deleteFile()" style="color:indianred; padding:4px; margin:4px;">DELETE FILE</a>
                            </td>
                        </tr>
                    </table>
                </li>
                <li ng-class="(config.reasoner) ? 'list-group-item available' : 'list-group-item unavailable'">
                    {{ config.reasoner | displayReasonerStatus }}
                    <a href="" ng-show="config.reasoner" ng-click="removeReasoner()">(remove)</a>
                </li>
                <li class="list-group-item">
                    <input type="button" id="classifyButton" class="btn btn-default btn-sm" value="Classify ontology" ng-click="startWorker()"/>
                    <input type="button" id="sparqlButton" class="btn btn-default btn-sm" value="Run query" ng-click="executeQuery()"/>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <div class="thlabel">
                Example queries
            </div>
            <ul class="list-group list-group-small-forms"  ng-controller="SparqlCtrl">
                <li class="list-group-item">
                    INSERT
                    <input type="button" id="i1" class="btn btn-default btn-tiny" value="10" ng-click="insert10()"/>
                    <input type="button" id="i2" class="btn btn-default btn-tiny" value="20" ng-click="insert20()"/>
                    <input type="button" id="i3" class="btn btn-default btn-tiny" value="30" ng-click="insert30()"/>
                    <input type="button" id="i4" class="btn btn-default btn-tiny" value="40" ng-click="insert40()"/>
                    <input type="button" id="i5" class="btn btn-default btn-tiny" value="50" ng-click="insert50()"/>
                </li>
                <li class="list-group-item">
                    DELETE
                    <input type="button" id="d1" class="btn btn-default btn-tiny" value="10" ng-click="delete10()"/>
                    <input type="button" id="d2" class="btn btn-default btn-tiny" value="20" ng-click="delete20()"/>
                    <input type="button" id="d3" class="btn btn-default btn-tiny" value="30" ng-click="delete30()"/>
                    <input type="button" id="d4" class="btn btn-default btn-tiny" value="40" ng-click="delete40()"/>
                    <input type="button" id="d5" class="btn btn-default btn-tiny" value="50" ng-click="delete50()"/>
                </li>
                <li class="list-group-item">
                    SELECT
                    <input type="button" id="sa" class="btn btn-default btn-tiny" value="all devices" ng-click="select_all()"/>
                    <input type="button" id="s1" class="btn btn-default btn-tiny" value="10" ng-click="select10()"/>
                    <input type="button" id="s2" class="btn btn-default btn-tiny" value="20" ng-click="select20()"/>
                    <input type="button" id="s3" class="btn btn-default btn-tiny" value="30" ng-click="select30()"/>
                    <input type="button" id="s4" class="btn btn-default btn-tiny" value="40" ng-click="select40()"/>
                    <input type="button" id="s5" class="btn btn-default btn-tiny" value="50" ng-click="select50()"/>
                </li>
                <li class="list-group-item">
                    <input type="button" id="ug" class="btn btn-default btn-sm" value="UNGRAPH" ng-click="ungraph()"/>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <div class="thlabel">
                Controls
            </div>
            <ul class="list-group list-group-small-forms">
                <li class="list-group-item">
                    <div class="thlabel-sm">
                        Reasoning
                    </div>
                    <div class="btn-group-xs" style="text-align:center;">
                        <label ng-class="config.reasoningMethod == 'greedy' ? 'btn btn-success' : 'btn btn-default'" ng-click="config.reasoningMethod = 'greedy'">Greedy</label>
                        <label ng-class="config.reasoningMethod == 'incremental' ? 'btn btn-success' : 'btn btn-default'" ng-click="config.reasoningMethod = 'incremental'">Incremental</label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="thlabel-sm">
                        Classification:
                    </div>
                    <div class="btn-group-xs" style="text-align:center;">
                        <label ng-class="config.classification == 'server' ? 'btn btn-success' : 'btn btn-default'" ng-click="config.classification = 'server'">Server-side</label>
                        <label ng-class="config.classification == 'client' ? 'btn btn-success' : 'btn btn-default'" ng-click="config.classification = 'client'">Client-side</label>
                        <label ng-class="config.classification == 'auto' ? 'btn btn-success' : 'btn btn-default'" ng-click="config.classification = 'auto'">Auto</label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="thlabel-sm">
                        Querying
                    </div>
                    <div class="btn-group-xs" style="text-align:center;">
                        <label ng-class="config.querying == 'server' ? 'btn btn-success' : 'btn btn-default'" ng-click="config.querying = 'server'">Server-side</label>
                        <label ng-class="config.querying == 'client' ? 'btn btn-success' : 'btn btn-default'" ng-click="config.querying = 'client'">Client-side</label>
                        <label ng-class="config.querying == 'auto' ? 'btn btn-success' : 'btn btn-default'" ng-click="config.querying = 'auto'">Auto</label>
                    </div>
                </li>
                <li class="list-group-item" style="text-align:center;">
                    <label class="btn btn-xs btn-default" ng-click="showAdaptationParams = !showAdaptationParams">Adaptation parameters & thresholds...</label>

                    <div class="list-group-item" style="position: absolute; z-index: 2" ng-show="showAdaptationParams">
                        <span popover-title="How do thresholds work?" popover-placement="bottom" uib-popover="{{ruleDesc}}" popover-trigger="mouseenter">
                            Rule description <img width="12px" ng-src="images/info.png"/>
                        </span>
                        <div class="thlabel">Ontology size threshold: {{ adaptationParameters.ontologySizeThreshold }} entities</div>
                        <slider ng-change="setAdaptationParameters()" ng-model="adaptationParameters.ontologySizeThreshold" min="0" step="1" max="1000" value="200"></slider>
                        <div class="thlabel">Ping threshold: {{ adaptationParameters.pingThreshold }} milliseconds</div>
                        <slider ng-change="setAdaptationParameters()" ng-model="adaptationParameters.pingThreshold" min="0" step="1" max="1000" value="150"></slider>
                        <div class="thlabel">Battery level threshold:  {{ adaptationParameters.batteryLevelThreshold }}%</div>
                        <slider ng-change="setAdaptationParameters()" ng-model="adaptationParameters.batteryLevelThreshold" min="0" step="1" max="100" value="20"></slider>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="thlabel">
                SPARQL Query
            </div>
            <textarea ng-controller="SparqlCtrl" style="width:100%" class="form-control sparql" rows="10" ng-model="query">
            </textarea>
        </div>
        <div class="col-sm-4">
            <div class="thlabel">
                Log
            </div>
            <div scroll-glue class="scrollable worker-log">
                <div ng-repeat="log in workerlog">
                    <span class="worker-log time">{{ log | displayDate }}</span>
                    <span ng-class="(log.isError) ? 'worker-log error' : 'worker-log msg'">{{ log | displayMsg }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="thlabel">
                SPARQL results (bindings)
            </div>
            <div class="scrollable-results">
                <div class="sparqlresult"  ng-repeat="result in sparqlResults track by $index">
                    <span ng-repeat="(key, value) in result track by $index">
                        <span class="sparqlvar">{{ key }}</span> : <span class="sparqlval">{{ value }}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>
