<div class="table-responsive">
    <table class="table table-striped three-column">
        <tr>
            <th class="thlabel">
                <span>OWL File location</span>
            </th>
            <th>
                <span>Status</span>
            </th>
            <th>
                <button class="btn" ng-click="viewControls = !viewControls">
                    <span class="glyphicon glyphicon-wrench"/>
                </button>
            </th>
        </tr>
        <tr>
            <td>
                <input ng-disabled="frontReasoner.isLoading" id="owlInput" type="text" ng-model="frontReasoner.owlFileName" ng-change="getOwl()" />
                <input type="button" id="classifyButton" class="btn btn-default btn-sm" ng-disabled="!frontReasoner.owlFileLocation" value="Launch reasoner" ng-click="startWorker()"/>
                <input type="button" id="sparqlButton" class="btn btn-default btn-sm" value="Run query" ng-click="executeQuery()"/>
            </td>
            <td>
                <ul class="list-group-small">
                    <li ng-class="(frontReasoner.isLoading) ? 'list-group-item list-group-item-warning busy-status ' : 'list-group-item list-group-item-success'">{{ frontReasoner.isLoading | displayHyLARStatus }}</li>
                    <li ng-class="(frontReasoner.reasoner) ? 'list-group-item list-group-item-success' : 'list-group-item list-group-item-warning'">
                        {{ frontReasoner.reasoner | displayReasonerStatus }}
                        <a href="" ng-show="frontReasoner.reasoner" ng-click="removeReasoner()">(remove)</a>
                    </li>
                    <!--<li ng-class="(frontReasoner.reasoner.length) ? 'list-group-item list-group-item-info' : 'list-group-item list-group-item-default'">
                        <span ng-repeat="classifiedOntology in frontReasoner.reasoner" class="glyphicon glyphicon-list">{{ classifiedOntology.name}}</span>
                    </li>-->
                </ul>
            </td>
            <td>
                <ul ng-show="viewControls" class="list-group list-group-center">
                    <li class="list-group-item">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                Classification
                            </div>
                            <div class="panel-body">
                                <label class="btn btn-sm btn-default" for="classificationRadioServer">server-side</label>
                                <input class="radio-inline" id="classificationRadioServer" ng-model="frontReasoner.classification" value="server" type="radio"/>

                                <label class="btn btn-sm btn-default" for="classificationRadioClient">client-side</label>
                                <input class="radio-inline" id="classificationRadioClient" ng-model="frontReasoner.classification" value="client" type="radio"/>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                Querying
                            </div>
                            <div class="panel-body">
                                <label class="btn btn-sm btn-default" for="queryingRadioServer">server-side</label>
                                <input id="queryingRadioServer" ng-model="frontReasoner.querying" value="server" type="radio"/>

                                <label for="queryingRadioClient" class="btn btn-sm btn-default">client-side</label>
                                <input id="queryingRadioClient" ng-model="frontReasoner.querying" value="client" checked type="radio"/>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <label class="btn btn-sm btn-default" for="executeInWorkerCheckbox">Execute in worker</label>
                        <input id="executeInWorkerCheckbox" class="checkbox checkbox-inline" id="workerCheckbox" type="checkbox" ng-model="frontReasoner.inWorker"/>
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td colspan="3">
                <textarea class="form-control sparql" rows="10" ng-model="frontReasoner.query"></textarea>
            </td>
        </tr>
        <tr>
            <th colspan="3">
                Web-worker's log
            </th>
        </tr>
        <tr>
            <td colspan="3">
                <div scroll-glue class="scrollable worker-log">
                    <div ng-repeat="log in frontReasoner.workerlog">
                        <span class="worker-log time">{{ log | displayDate }}</span>
                        <span ng-class="(log.isError) ? 'worker-log error' : 'worker-log msg'">{{ log | displayMsg }}</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th colspan="3">
                SPARQL results
            </th>
        </tr>
        <tr>
            <td colspan="3">
                <div class="scrollable-results">
                    <div class="sparqlresult"  ng-repeat="result in frontReasoner.sparqlResults">
                        <span ng-repeat="(key, value) in result">
                            <span class="sparqlvar">{{ key }}</span> : <span class="sparqlval">{{ value }}</span>
                        </span>
                    </div>
                </div>
            </td>
        </tr>
    </table>

</div>
